img.pipe {
	height: 65px;
	width: 75px;
}
th.name {
	width: 18%;
}
th.maker {
	width: 18%;
}
th.rest {
	width: 5%;
}
th.tb {
	width: 5%;
}
th.bsc {
	width: 5%;
}
th.country {
	width: 5%;
}
th.purchased {
	width: 9%;
}
th.cost {
	width: 5%;
}
th.persmoke {
	width: 5%;
}
th.target {
	width: 20%;
}
th.active {
	width: 5%;
}
td.name {
	width: 18%;
}
td.maker {
	width: 23%;
}
td.country {
	width: 5%;
}
td.purchased {
	width: 9%;
}
td.persmoke {
	width: 5%;
}
td.target {
	width: 20%;
}
td.active {
	width: 5%;
}
td.pipeFormLeft {
	text-align: right;
	width: 15%;
	border-bottom-width: 0px;
}
td.pipeFormRight {
	width: 85%;
	border-bottom-width: 0px;
}
